@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --font-color: #161616;
}
  
body, html {
    margin: 0;
    color: var(--font-color);
    font-family: 'Poppins', sans-serif;
    background: #fff;
    transition: .5s;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 20px;
    border: 2px solid white;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    transition: .2s;
    z-index: 3000;
}

.cursor-hover {
    transform: translate(-50%, -50%) scale(8);
}

.cursor-hover-cover {
    transform: translate(-50%, -50%) scale(30);
    background: url("../img/cursor-bg.jpg") no-repeat center;
    background-size: cover;
    mix-blend-mode: normal;
    z-index: 0;
}

.contact-box {
    border: 1px solid;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--font-color);
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    transition: .3s;
}

.contact-box:hover {
    transform: scale(1.2);
}

.contact-box svg {
    height: 30px;
    width: auto;
    fill: white;
    margin: 0 5px 0 0;
}


/* ---------------------- HEADER ---------------------- */

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px 0 80px;
}

.header-logo {
    font-size: 1.3em;
    font-weight: 600;
}

.header-logo a {
    text-decoration: none;
    color: var(--font-color);
}

.nav-buttons {
    display: flex;
}

.nav-btn-scroll {
    margin-left: 50px;
    cursor: pointer;
}

.nav-btn-fix {
    position: fixed;
    top: 33px;
    right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    padding: 6px;
    z-index: 2000;
}

.nav-btn-fix span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 2px 0;
    background: var(--font-color);
}

.nav-btn-fix span:nth-child(2) {
    width: 20px;
}

.webshop-btn {
    cursor: pointer;
}


/* ---------------------- NAV ---------------------- */

.nav-wrap {
    width: 768px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 0 100px 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background: white;
    transform: translateX(768px);
    transition: .5s;
}

.nav-wrap-toggle {
    transform: translateX(0);
}

.nav-close-btn {
    display: flex;
    justify-content: flex-end;
    padding: 40px 90px 0 0;
    cursor: pointer;
}

.nav-close-btn svg {
    width: 20px;
    height: auto;
}

.nav-wrap .navigation {
    display: flex;
}

.nav-wrap .navigation h2 {
    margin-bottom: 50px;
}

.nav-wrap .social a {
    display: block;
    text-decoration: none;
    color: var(--font-color);
}

.nav-wrap .social a:hover {
    color: green;
}

.nav-wrap h2 {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    border-bottom: 1px solid;
}

nav span {
    display: inline-block;
    color: #161616;
    font-size: 2.5em;
    text-transform: uppercase;
    pointer-events: none;
    transition: transform 0.1s linear;
}

nav .hover-this {
    transition: all 0.3s ease;
}

nav .hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8);
}

.nav-email span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}


/* ---------------------- COVER ---------------------- */

.cover-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

.cover {
    display: inline-block;
    background: white;
}

.cover p {
    margin: 0;
    z-index: 5000;
    mix-blend-mode: darken;
}

.cover h1 {
    font-size: 5em;
    font-weight: 600;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 1.5px #000;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    z-index: 5000;
}

.cover h1 span:hover {
    color: white;
    mix-blend-mode: difference;
    -webkit-text-stroke: 0px #000;
}

.cover h1 span:nth-child(2) {
    margin: 0 40px;
}


@media screen and (max-width: 768px) {

    .cursor {
        display: none;
    }

    .contact-box {
        bottom: 10px;
        right: 10px;
    }

    header {
        padding: 0 100px 0 20px;
    }

    .nav-btn-scroll {
        display: none;
    }

    .nav-btn-fix {
        right: 20px;
    }

    .nav-wrap {
        width: 100%;
        padding: 0 0 0 20px;
    }

    nav {
        margin: 0 0 50px 0;
    }

    nav span {
        font-size: 2em;
    }

    .nav-wrap .social {
        display: none;
    }

    .nav-close-btn {
        padding: 40px 30px 0 0;
    }
}